:root {
  --accent1-bg: #de403e;
  --accent2-bg: #25807f;
  --accent3-bg: #90225e;
  --accent4-bg: #ffdc00;
}

body {
  margin: 0;
  font-family: var(--font-mono);
  font-size: var(--font-size-2);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
